# Node modules - install fresh inside container
node_modules
**/node_modules

# Build output (to avoid copying source dist into docker context)
# dist
# **/dist

# Git files
.git
.gitignore

# Environment files (optional: if you don't want to copy .env inside container)
.env
**/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker files (avoid copying unnecessary files)
Dockerfile
docker-compose.yml

# IDE/editor config
.vscode
.idea
*.sublime-project
*.sublime-workspace

# Misc
*.tsbuildinfo

# nest build data-library
# nest build youapp-api-gateway
# nest build auth-service
# nest build users-service
# nest build messages-service

# docker build -f apps/auth-service/Dockerfile -t auth-service .
# docker build -f apps/users-service/Dockerfile -t users-service .
# docker build -f apps/messages-service/Dockerfile -t messages-service .
# docker build -f apps/youapp-api-gateway/Dockerfile -t youapp-api-gateway .


# docker-compose up --build